/* Deep blue (#1b2a41)

Fjord green (#3b5d50)

Iron gray (#353535)

Wheat yellow (#d3b878)
*/

/* Fixed navbar */
nav {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* black with 50% opaciy tbut text is still 100% visable */
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px;
  z-index: 1000; /* keep above content */
}

.navbar {
  font-family: "Caudex", serif;
  font-size: large;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #cead61;
}

/* Body scrollable */
body {
  padding-top: 1px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #ecedee;
  min-height: 100vh; /* allow body to grow */
  overflow-y: auto; /* enable vertical scrolling */
  overflow-x: hidden; /* hide horizontal scrollbar */
}

/* Container for panels */
.container {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 20px auto; /* center horizontally */
  gap: 10px;
}

/* Panels */
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 0.3s, transform 0.7s ease 0.3s;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transform: translateY(0);
}

.runic-title {
  padding-top: 20px;
  text-align: center;
  font-family: "Caudex", serif;
  letter-spacing: 2px;
}

/* Responsive tweaks */
@media screen and (max-width: 580px) {
  .container {
    width: 100vw; /* fixed to viewport width */
    flex-direction: column;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* scale hero for mobile */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px; /* vertical scrollbar if needed */
}

::-webkit-scrollbar-track {
  background: #c9c4c4;
}

::-webkit-scrollbar-thumb {
  background: #d3b878;
}

/* hero section for destination */
.hero {
  background-image: url("./images/194e604e7581669452724007be4f033f49c6c95b-3674x2454.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 80vh; /* or 100vh for full-screen */

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  text-align: center;
}

.hero-content h1 {
  color: white;
  font-family: "Caudex", serif;

  font-size: 3rem;
}

.hero-content p {
  font-family: "Caudex", serif;

  background-color: rgba(0, 0, 0, 0.5); /* black with 50% opacity */
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-btn {
  font-family: "Uncial Antiqua";

  margin-top: 30px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: #cead61;
}

/* vertical container */
.vert_container {
  display: flex;

  flex-direction: column;
  background-color: DodgerBlue;
  margin: 50px;
  padding: 30px;
  font-family: "Uncial Antiqua";
}

.vert_container h1 {
  font-family: "Caudex", serif;
  align-items: left;
  border-radius: 10px;
  color: rgb(17, 1, 1);
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*default div */
.vert_container div {
  background-image: url("./images/Kirkjufell-mountain.jpg");
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  font-family: "Uncial Antiqua";
  background-size: cover;
  width: 70vw; /* 50% of viewport width */
  height: 40vh;

  background-repeat: no-repeat;
}

/*flex box section under here */
.flex_container {
  margin: 50px;
  padding: 30px;
  display: flex;
  background-color: DodgerBlue;
}

.flex_container h1 {
  font-family: "Caudex", serif;

  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex_container p {
  font-family: "Caudex", serif;

  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.flex_container div {
  background-image: url("./images/Kirkjufell-mountain.jpg");
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
