/* Fixed navbar */
nav {
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #353535;
  padding: 10px;
  z-index: 1000; /* keep above content */
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #19d5f1;
}

/* Body scrollable */
body {
  padding-top: 1px;
  font-family: "Roboto", sans-serif;
  margin: 0;

  min-height: 100vh; /* allow body to grow */
  overflow-y: auto; /* enable vertical scrolling */
  overflow-x: hidden; /* hide horizontal scrollbar */
}

/* Container for panels */
.container {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  width: 90vw;
  margin: 20px auto; /* center horizontally */
  gap: 10px;
}

/* Panels */
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  margin: 0;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease 0.3s, transform 0.7s ease 0.3s;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transform: translateY(0);
}

/* Responsive tweaks */
@media screen and (max-width: 580px) {
  .container {
    width: 100vw; /* fixed to viewport width */
    flex-direction: column;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}

/* scale hero for mobile */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
}
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 15px; /* vertical scrollbar if needed */
}

::-webkit-scrollbar-track {
  background: #d1e5ff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
}

/* hero section in destination */
.hero {
  margin: 0;
  padding: 0;
  height: 100%; /* full screen */
  background-image: url("./images/kirkjufellsfoss_iceland.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  padding: 10px 20px;
}

.hero-content h1 {
  padding: 10px 20px;
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero-btn {
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.hero-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}
