* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #353535;
  padding: 10px;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 0px;
  padding: 0px;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #ffcc00;
}

body {
  padding-top: 60px; /* prevents page content from hiding under navbar */
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

.container {
  display: flex;

  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  margin: 0;
  opacity: 0;

  transform: translateY(20px);

  transition: opacity 0.5s ease 0.3s, transform 0.7s ease 0.3s;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  /* try media query*/
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 580px) {
  .container {
    width: 100vh;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
